# OSX
#
.DS_Store

# Xcode
#
build/
Index/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# cocoapods: 必须加入版本控制：Podfile、Podfile.lock   xcworkspace和pods可选，加入的话每次更新都需要更新很多文件，不加入的话可以让用户根据Podfile来更新
*.xcworkspace
Pods/